<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link rel="stylesheet" href="../../css/ideas.css">
    <link rel="stylesheet" href="../../css/responsiveness.css">
    <title>Casa Criativa | Ideias</title>
<body>
    <section id="container" class="pageIdeas">
        <header>
            <a href="/"><img src="../../assets/27pdZLL.png" alt="Logomarca"></a>
            <nav>
                <ul>
                    <li class="exit-btn"><img src="./assets/exit.svg" alt="Exit icon"></li>
                    <li><a href="/" tabindex="2">Início</a></li>
                    <li class="CTA"><a href="#" onclick="Modal.onOff()" tabindex="1">Nova Ideia</a></li>
                </ul>
                <img src="../../assets/menu.svg" alt="" class="menu-btn">
            </nav>
        </header>

        <section id="title">
            <p>em exibição</p>
            <h1>Ideias</h1>
        </section>

        <main>
            <section id="ideas">
                <% ideas.forEach(idea => { %>
                    <div class="idea">
                        <img src="<%= idea.image %>" alt="Imagem de Curso de Programação"/>
                        <div class="content">
                            <h3><%= idea.title %></h3>
                            <p><%= idea.category %></p>
                            <div class="description">
                                <%= idea.description %>
                            </div>
                            <a href="<%= idea.link %>" target="_blank">Ir para a ideia</a>
                        </div>
                    </div>
                <% }); %>
            </section>
        </main>

        <%- include("./partials/footer") %> 
    </section>

    <%- include("./partials/modal") %>

    <script src="../../js/main.js"></script>
</body>
</html>