<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Casa Criativa | Home</title>
<body>
    <section id="container" class="pageHome">
        <section id="intro"> 
            <header>
                <a href="/"><img src="/assets/27pdZLL.png" alt="Logomarca"/></a>
            </header>

            <main>
                <p>Ficar em casa em períodos longos, não deve ser nada fácil.</p>
                <p>Iremos catalogar <strong>ideias, brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais interessante.</p>
                <p>Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.</p>
            </main>

            <section id="buttons">
                <button type="submit" onclick="Modal.onOff()" tabindex="1">+ Adicionar Ideia</button>
                <a href="/ideas" class="CTA" tabindex="0">Ver ideias</a>
            </section>

            <%- include("./partials/footer") %> 
        </section>

        <section id="lastIdeas">
            <section id="ideas">
                <% ideas.forEach(idea => { %>
                    <div class="idea">
                        <img src="<%= idea.image %>" alt="Imagem de Curso de Programação"/>
                        <div class="content">
                            <h3><%= idea.title %></h3>
                            <p><%= idea.category %></p>
                            <div class="description">
                                <%= idea.description %>
                            </div>
                            <a href="<%= idea.link %>" target="_blank">Ir para a ideia</a>
                        </div>
                    </div>
                <% }); %>
            </section>
        </section>
    </section>

    <%- include("./partials/modal") %>

    <script src="/js/main.js"></script>
</body>
</html>